<nav>
  <div class="border border-black"></div>
  <!-- Menu Icon for Responsive Mode -->
  <button class="menu" [class.show-dropdown]="isDropdownOpen" *ngIf="isResponsiveMode" (click)="toggleDropdown($event)">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>
  <aside class="navbar" [class.show-dropdown]="isDropdownOpen">
    <div class="linkholder">
      <a routerLink="/about" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="toggleDropdown($event)">
        Home
      </a>
    </div>

    <div class="linkholder">
      <a [routerLink]="isChildGalleryActive ? '/gallery' : '/gallery'" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{ exact: false }"
         (click)="toggleDropdown($event)">
        {{ isResponsiveMode && isChildGalleryActive ? '\< Back' : 'Gallery' }}
      </a>
    </div>

    <div class="text-center" *ngIf="user?.type === 'customer' && !isResponsiveMode">
      <a class="cartLink" 
         routerLink="/cart" 
         routerLinkActive="active"
         (click)="toggleDropdown($event)">
        Cart
        <span class="counter" *ngIf="cartCount > 0">{{ cartCount }}</span>
      </a>
    </div>

    <div class="linkholder" *ngIf="!user">
      <a routerLink="/signin" routerLinkActive="active"
      (click)="toggleDropdown($event)">SignIn/Register</a>
    </div>

    <div class="linkholder" *ngIf="user?.type === 'admin'">
      <a routerLink="/customers" routerLinkActive="active"
      (click)="toggleDropdown($event)">Customers</a>
    </div>

    <div class="linkholder" *ngIf="user">
      <a class="social" (click)="logout()">Logout</a>
    </div>
  </aside>
</nav>
