<nav>
  <div class="border border-black"></div>
  <div class="navbar" [class.show-dropdown]="isDropdownOpen">

    <a routerLink="/about" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleDropdown($event)">About</a>

    <a routerLink="/gallery" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="toggleDropdown($event)">Gallery
      
      </a>

    <a class="cartLink" 
       *ngIf="!user || user?.type === 'customer'" 
       routerLink="/cart" 
       routerLinkActive="active"
       (click)="toggleDropdown($event)">Cart
      <span class="counter" *ngIf="cartCount > 0">{{cartCount}}</span>
    </a>

    <a *ngIf="!user" 
       routerLink="/signin" 
       routerLinkActive="active"
       (click)="toggleDropdown($event)">SignIn/Register</a>
       

    <a *ngIf="user?.type === 'admin'" 
       routerLink="/orders" 
       routerLinkActive="active"
       (click)="toggleDropdown($event)">Orders</a>

    <a *ngIf="user?.type === 'admin'" 
       routerLink="/customers" 
       routerLinkActive="active"
       (click)="toggleDropdown($event)">Customers</a>

    <a *ngIf="user" 
       class="social" 
       (click)="logout()">Logout</a>

  </div>
</nav>