nav {
  max-width: calc(100vw - 20px);
  max-height: 30px;
}

.border {
  background-color: #000000;
  width: 80%;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

a {
  float: left;
  font-size: 1.4em;
  cursor: pointer;
  max-width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  color: #000000;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-weight: bold; 
}

.cartLink {
  width: fit-content;
  display: inline-flex;
  align-items: center;
}

.counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    padding: 0;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
  }

  a {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 0;
    display: none; /* Hide by default */
  }

  /* Only show the currently active link */
  a.active {
    display: block;
    text-decoration: underline;
  }

  /* Show gallery link ONLY when in gallery routes */
  a[routerLink="/nature"].active {
    display: block; /* Hide by default */
  }
  
  a[routerLink="/gallery"] {
    display: none; /* Hide by default */
  }
  /* Show gallery link only when it's active or when in gallery routes */
  a[routerLink="/gallery"].active {
    display: block;
  }

  /* Show all links when dropdown is open */
  .navbar.show-dropdown a {
    display: block;
    animation: slideDown 0.3s ease forwards;
  }

  .navbar.show-dropdown {
    background-color: #d8d0a3b0;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .cartLink {
    justify-content: center;
  }
}