/* General Styles */
h1, h4{
  font-family: 'Heading1-font';
  font-size: 2.5em;
  color: #000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3{
    font-family: 'Heading2-font';
    font-size: 1.5em;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Filter Buttons */
.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-buttons .btn-bw {
  background-color: #555;
  color: white;
}

.filter-buttons .btn-color {
  background-color: #007bff;
  color: white;
}

.filter-buttons .btn-reset {
  background-color: #6c757d;
  color: white;
}

.filter-buttons button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .columns-container{
    display: flex;
    flex-direction: column;
  }
}
