
<h1 class="text-center mt-4">Staged models</h1>
<h3 class="text-center">Enjoy the perfection of body lines and game of light and shapes</h3>

<!-- Filter Buttons -->
<div class="filter-buttons text-center mt-4">
  <button (click)="filterGallery('black')" class="btn-bw m-2">Black & White</button>
  <button (click)="filterGallery('color')" class="btn-color m-2">Color</button>
  <button (click)="resetFilter()" class="btn-reset m-2">Reset Filter</button>
</div>

<div *ngIf="user?.type === 'admin'" class="text-center">
  <form #form="ngForm" (ngSubmit)="submitGalleryChanges()" novalidate>
    <div class="filePick m-2">
      <!-- Color Image Upload -->
      <div class="imageInput m-4">
        <label for="fileInputColor">Upload new color image:</label>
        <input
          class="uploadImage"
          type="file"
          id="fileInputColor"
          (change)="onFileSelected($event, 'color')"
          name="fileInputColor"
        />
      </div>
      <div class="priceInput m-4">
        <label for="priceInputColor">Price for Color Image:</label>
        <input
          type="number"
          id="priceInputColor"
          [(ngModel)]="colorPrice"
          name="priceInputColor"
        />
      </div>

      <!-- Black & White Image Upload -->
      <div class="imageInput m-4">
        <label for="fileInputBlack">Upload new Black/White image:</label>
        <input
          class="uploadImage"
          type="file"
          id="fileInputBlack"
          (change)="onFileSelected($event, 'black')"
          name="fileInputBlack"
        />
      </div>
      <div class="priceInput m-4">
        <label for="priceInputBlack">Price for Black/White Image:</label>
        <input
          type="number"
          id="priceInputBlack"
          [(ngModel)]="blackPrice"
          name="priceInputBlack"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="!isFormValid()">Upload</button>
  </form>
</div>

<!-- Gallery Section -->
<div class="gallery-container">   
  <div *ngIf="filteredGalleryItems.length === 0" class="empty-cart">
    <h3 class="text-center">
      There are no images in the gallery. Please check back later.
    </h3>
  </div>
  <div *ngIf="filteredGalleryItems.length > 0" id="Gallery">
    <div *ngFor="let item of filteredGalleryItems; let i = index" class="text-center">
      <app-card 
        [item]="item"
        [isAdmin]="user?.type === 'admin'"
        galleryType="staged"
        (imageClick)="openImageOverlay(i)"
        (priceChange)="submitPriceChange($event.pictureID, $event.price)"
        (deleteImage)="delete(+$event)"
        (cartAdd)="addToCart(+$event)">
      </app-card>
    </div>
  </div>
</div>

<!-- Image Overlay -->
<div
  class="image-overlay"
  *ngIf="selectedImageIndex !== null"
  (click)="closeImageOverlay()"
>
  <div class="image-container" (click)="$event.stopPropagation()">
    <img
      [src]="filteredGalleryItems[selectedImageIndex].sGalleryImage"
      alt="Enlarged Image"
    />
    <button class="nav-arrow left-arrow" (click)="navigateGallery(-1)">
      &#8249;
    </button>
    <button class="nav-arrow right-arrow" (click)="navigateGallery(1)">
      &#8250;
    </button>
  </div>
</div>