

h1{
  font-family: 'Heading1-font';
  font-size: 40px;
  color: #000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3{
    font-family: 'Heading2-font';
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-bw {
  padding: 10px 20px;
  background: hsl(0, 0%, 12%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-color{
  padding: 10px 20px;
  background: hsl(189, 78%, 51%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-reset {
  padding: 10px 20px;
  background: hsl(0, 0%, 44%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}