<div class="flex-media">
  <section class="about">
    
      <div class="image-wrapper">
        <img [src]="imageUrl" alt="" *ngIf="imageUrl" class="float-image">
      </div>
      <p class="bio" [innerHTML]="bioText"></p>
      
      <div *ngIf="isUploading" class="loading-icon d-flex justify-content-center align-items-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
  
  </section>

  <!-- Bio Edit -->
   <div *ngIf="user?.type === 'admin'" class=" admin text-end">
    <textarea [(ngModel)]="bioText" class="bio"></textarea>
    <div *ngIf="user?.type === 'admin'" class="filePick">
      <input type="file" (change)="onFileSelected($event)" />
    
      <button *ngIf="user?.type === 'admin'" (click)="submitBio()">Submit</button>
    </div>
   </div>

  <!-- Image Upload -->
  
</div>
