<div class="text-center  p-2">
  <!-- Search Input -->
   <h1>Customers List</h1>
  <input
    type="text"
    placeholder="Search by name or email"
    [(ngModel)]="searchQuery"
    (input)="filterCustomers()"
    class="search-input"
  />

  <!-- Customers Table -->
  <table class="table table-bordered" *ngIf="filteredCustomers.length > 0; else noResults">
    <thead>
      <tr>
        <th id="itemID">Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Orders</th>
        <th>Joined</th>
        <th>DOB</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredCustomers">
        <td id="itemID">{{ item.customerID }}</td>
        <td data-label="Firtt name:">{{ item.firstName }}</td>
        <td data-label="Last name:">{{ item.lastName }}</td>
        <td data-label="Email:">{{ item.email }}</td>
        <td data-label="Phone:">{{ item.phone }}</td>
        <td data-label="Orders:">
          <button 
            *ngIf="item.orderDetailsID !== undefined && item.orderDetailsID > 0"
            class="btn btn-primary btn-m p-2" 
            [routerLink]="['/orders']" 
            [queryParams]="{ customerID: item.customerID }">
            Orders
          </button>
        </td>
        <td data-label="Created at:">{{ item.created_at }}</td>
        <td data-label="DOB">{{ item.dob }}</td>
        <td data-label="Type:">{{ item.type }}</td>
        <td data-label="Status" *ngIf="item.type === 'customer'" class="d-flex flex-row justify-content-start">
          <label>
            <input
              type="radio"
              [checked]="item.status === 'active'"
              (change)="toggleStatus(item)"
              value="active"
            /> Active
          </label>
          <label>
            <input
              type="radio"
              [checked]="item.status === 'blocked'"
              (change)="toggleStatus(item)"
              value="blocked"
            /> Blocked
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Results Message -->
  <ng-template #noResults>
    <h3>No Results found</h3>
  </ng-template>
</div>
