.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px;
  margin: 0 auto;
}

#Gallery {
  column-count: 5; /* Number of columns */
  column-gap: 20px; /* Space between columns */
}

.gallery_option {
  margin-bottom: 20px; /* Space between rows */
  display: inline-block; /* Ensure items respect text alignment */
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #000000;
  background-color: rgb(239, 238, 235);
  padding: 2%;
}


#pictureID{
  display: none;
 }

/* #Gallery{
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin: 0 60px;
}
.gallery_option{
  width: fit-content;
  height: fit-content;
  max-width: auto;
  height: auto;
  font-size: 1.4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 20px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #000000;
  background-color: rgb(239, 238, 235);
} */

img {
  max-width: 12vw; 
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}
input{
  width: 10vw;
  margin: fit-content;
}
.uploadImage{
  width: fit-content;
  text-align: center;
}

a{
  font-size: 0.9em;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  margin: 1.2rem;
}

textarea{
  width: 80%;
  height: 400px;
  margin: 20px auto;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

button{
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px;
}

.loading-icon::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.thumbnail {
  max-width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.15);
}

/* Image overlay styling */
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-overlay img {
  max-width: 80vw; /* Image scales down to fit container's width */
  max-height: 100%; /* Image scales down to fit container's height */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits inside without distortion */
  border-radius: 0;
  border: 1px solid rgb(239, 238, 235);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}



/* Navigation Arrow Styling */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
  font-size: 1.5em;
}

.left-arrow {
  left: 1%;
}

.right-arrow {
  right: 1%;
}

.nav-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
