
a{
    font-size: 2.2em;
  font-family: Heading1-font, 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: hsl(0, 85%, 60%);
    text-shadow: 5px 5px 10px hsl(0, 0%, 100%), -5px -5px 10px hsl(0, 0%, 100%);
}

