
a{
  font-size: 2.2em;
  font-family: Heading1-font, 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: hsl(0, 85%, 60%);
    text-shadow: 5px 5px 10px hsl(0, 0%, 100%), -5px -5px 10px hsl(0, 0%, 100%);
}

img{
  cursor: default;
  border: 1px solid hsl(0, 4%, 79%);
  box-shadow: 4px 4px 15px hsl(0, 1%, 72%), -4px -4px 15px hsl(0, 1%, 72%);
}

@media screen and (max-width: 1000px) {
  a{
    font-size: 1.7em;
  }

  .aText{
    font-size: 1.4em;
  }
}
