
.dialog-box {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #151414;
}

.buttons {
  padding: 20px;
  margin: 0 auto;
}

button:first-child {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  background-color: #ff1201;
  color: white;
}

::ng-deep .cdk-overlay-container{
  background-color: rgba(0, 0, 0, 0.755);
}

button:last-child {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  background-color: #ed7a21;
  color: white;
}

.dialog-window{
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  position: static;
  border: 1px solid black;
  padding: 20px;
  background: hsl(51, 73%, 93%);
}

::ng-deep .mat-mdc-dialog-surface {
  color: hsl(0, 0%, 0%); /* Dark text */
  background-color: hsl(0, 0%, 100%);
  border: 10px solid  hsl(0, 0%, 8%);
  width: fit-content;
  border-radius: 0;
  padding: 20px;
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1280px){
  .heading{
    width: 90%;
    font-size: 1rem;
  }
  .message{
    width: 100%;
    font-size: 0.9rem;
  }
 
  ::ng-deep .mat-mdc-dialog-surface {
    width: fit-content;
  }

}
