
.dialog-box {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.buttons {
  padding: 20px;
  margin: 0 auto;
}

button:first-child {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  background-color: #ff1201;
  color: white;
}

button:last-child {
  font-family: 'Heading1-font', 'Arial Narrow', Arial, sans-serif;
  background-color: #ed7a21;
  color: white;
}

::ng-deep .mat-mdc-dialog-surface {
  color: #333; /* Dark text */
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
  background-color: hsl(42, 41%, 92%);
  border: 2px solid hsl(42, 62%, 70%);; /* Apply background color globally */
}


