
.dialog-box {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.buttons{
  margin: 0 auto;
}

.buttons {
  padding: 20px;
}

button {
  background-color: #dfba15;
  color: white;
  padding: 10px 20px;
  border: 1px solid #e2a919;
  border-radius: 4px ;
  cursor: pointer;
}


button:first-child {
  background-color: #ff1201;
  color: white;
}

button:last-child {
  background-color: #ed7a21;
  color: white;
}

::ng-deep .mat-mdc-dialog-surface {
  color: #333; /* Dark text */
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
  background-color: hsl(42, 50%, 82%);
  border: 2px solid hsl(42, 62%, 70%);; /* Apply background color globally */
}


