<h1 class="text-center mt-4">Nature</h1>
<h3 class="text-center">Enjoy the wonders of mother nature </h3>

<!-- admin section-->
<div *ngIf="user?.type === 'admin'" class="text-center">
  <!-- Form for uploading image and price -->
  <form  #form="ngForm" (ngSubmit)="submitChanges()" novalidate>
    <div class="filePick m-2">
      <!-- File Input -->
     <div class="imageInput m-4">
      <label for="fileInput">Upload new image:</label>
      <input
        class="uploadImage"
        type="file"
        id="fileInput"
        required
        #fileInput="ngModel"
        (change)="onFileSelected($event, 'natureGallery')"
        ngModel
        name="fileInput"
      />
      <div *ngIf="fileInput.invalid && fileInput.touched" class="error">
        Please upload an image.
      </div>
     </div>

      <!-- Price Input -->
    <div class="priceInput m-4">
      <label for="priceInput">Price:</label>
      <input
        type="number"
        id="priceInput"
        required
        [(ngModel)]="allChanges.price"
        name="priceInput"
        #priceInput="ngModel"
      />
      <div *ngIf="priceInput.invalid && priceInput.touched" class="error">
        Please enter a price.
      </div>
    </div>
    </div>

    <!-- Submit Button -->
    <button [disabled]="form.invalid" type="submit">Upload new product</button>
  </form>
</div>

<!-- Nature user Section -->
<div class="gallery-container">   
  <div *ngIf="galleryItems.length === 0" class="empty-cart">
    <h3 class="text-center">
      There are no images in the gallery. Please check back later.
    </h3>
  </div>
  <div *ngIf="galleryItems.length > 0" id="Gallery">
    <div *ngFor="let item of galleryItems; let i = index" class="text-center">
      <app-card 
        [item]="item"
        [isAdmin]="user?.type === 'admin'"
        galleryType="nature"
        (imageClick)="openImageOverlay(i)"
        (priceChange)="submitPriceChange($event.pictureID, $event.price)"
        (deleteImage)="delete(+$event)"
        (cartAdd)="addToCart(+$event)">
      </app-card>
    </div>
  </div>
</div>
<!-- Image Overlay -->
<div
  class="image-overlay"
  *ngIf="selectedImageIndex !== null"
  (click)="closeImageOverlay()"
>
  <div class="image-container" (click)="$event.stopPropagation()">
    <img
      [src]="galleryItems[selectedImageIndex].nGalleryImage"
      alt="Enlarged Nature Image"
    />
    <!-- Navigation Arrows -->
    <button class="nav-arrow left-arrow" (click)="navigateGallery(-1)">
      &#8249; <!-- Left arrow symbol -->
    </button>
    <button class="nav-arrow right-arrow" (click)="navigateGallery(1)">
      &#8250; <!-- Right arrow symbol -->
    </button>
  </div>
</div>

