/* cart.component.css */
.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

#pictureID{
  display: none;
}

.cart-items {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.cart-item {
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: white;
}

.item-image {
  width: 100%;
}

.thumbnail {
  width: 100%;
  height: fit-content;
  border-radius: 4px;
}

.item-details {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 1vw;
  padding: 1vw;
}

.delete-btn{
  border: none;
}

.price{
  font-size: 2.1rem;
}

.delete-btn svg{
  width: 1.2rem;
  height: auto;
  background: none;
}

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid #ddd;
}

.cart-actions {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 30vw;
  min-width: 200px;
  margin: 0 auto;
}

.clear-btn {
  padding: 5px 10px;
  background: hsl(0, 0%, 44%);
  color: hsl(0, 0%, 92%);
  border:1px solid hsla(0, 1%, 38%, 0.836); 
  border-radius: 4px;
  cursor: pointer;
  width: 30vw;
  max-width: 120px;
  margin: 0 auto;
}

.clear-btn:hover{
  background: hsl(0, 1%, 30%);
}

.continue-btn{
  padding: 10px 20px;
  font-size: 1.2rem;
  color: hsl(0, 1%, 86%);
  background-color: hsl(123, 48%, 37%);
  border:1px solid hsla(0, 1%, 38%, 0.836); 
  border-radius: 4px;
  cursor: pointer;
  width: 30vw;
  max-width: 200px;
  margin: 30px auto;
}

.continue-btn:hover{
  color: hsl(0, 0%, 100%);
  background-color: hsl(123, 60%, 41%);
}

.checkout-btn {
  padding: 10px 20px;
  color: hsl(0, 1%, 86%);
  background-color: hsl(123, 48%, 37%);
  border:1px solid hsla(0, 1%, 38%, 0.836); 
  border-radius: 4px;
  cursor: pointer;
  width: 30vw;
  max-width: 170px;
}

.checkout-btn:hover{
  color: hsl(0, 0%, 100%);
  background-color: hsl(123, 60%, 41%);
}

.empty-cart {
  text-align: center;
  padding: 40px;
}

#paypal-button-container{
  margin: 20px auto;
  width: fit-content;
  width: 30vw;
  max-width: 170px;
}

.download-btn {
  background-color: hsl(123, 26%, 55%);
  padding: 5px 10px;
  color: hsl(0, 1%, 86%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.download-btn:hover {
  color: hsl(0, 1%, 86%);
  background-color: hsl(123, 48%, 37%);
}


@media screen and (max-width: 1024px){
  .clear-btn {
    padding: 5px 10px;
    background: hsl(0, 0%, 44%);
  }

  .cart-items {
    gap: 10px;
    margin: 10px 5px;
  }
  
  .cart-item {
    max-width: 20vw;
    height: fit-content;
    padding: 5px;
  }

  .continue-btn{
    font-size: 1rem;
  }

}



 @media screen and (max-width: 768px) {
  .clear-btn {
    padding: 5px 10px;
    background: hsl(0, 1%, 67%);
  }

  .cart-items {
    gap: 10px;
    margin: 10px 5px;
  }
  
  .cart-item {
    max-width: 30vw;
    height: fit-content;
    padding: 5px;
  }

  .continue-btn{
    font-size: 0.8rem;
  }

 }