<div class="cart-container">
  <h1 class="text-center mb-5">Shopping Cart</h1>
  
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Your cart is empty</p>
    <button routerLink="/gallery" class="continue-btn">Back to Shopping</button>
  </div>
  
  <div *ngIf="cartItems.length > 0" class="cart-items">
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item-image">
        <img [src]="item.nGalleryImage || item.sGalleryImage || item.aGalleryImage"
             alt="Product Image"
             class="thumbnail">
      </div>
      <div class="item-details">
        <p id="pictureID">{{item.pictureID}}</p>
        <div class="price">Price: {{item.price | currency}}</div>
        <!-- Show Download button for purchased items, otherwise show Remove button -->
        <ng-container *ngIf="purchasedItems.has(item.pictureID); else removeButton">
          <button class="btn download-btn" (click)="downloadImage(item.pictureID)">
            Download
          </button>
        </ng-container>
      </div>
      <ng-template #removeButton>
        <!-- <i class="fa-solid fa-trash"></i> -->
        <button class="delete-btn" (click)="removeItem(item.pictureID)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
        </button>
      </ng-template>
    </div>
  </div>

  <div class="cart-summary text-center" *ngIf="cartItems.length > 0">
    <h3>Total: {{total | currency}}</h3>
    <div class="cart-actions">
      
      <div id="paypal-button-container" *ngIf="cartItems.length > 0">
        <button (click)="checkOut()" 
                [disabled]="isProcessingCheckout" 
                class="checkout-btn" 
                id="paypal-button-container">
          Checkout
        </button>
        <button class="btn clear-btn" (click)="clearCart()">Clear Cart</button>
      </div>
    </div>
  </div>
</div>

