
<div class="form-content text-center">
  
  <form #f="ngForm" class="m-4" (submit)="login(f)">
    
    <div class="labs">
      <label for="email">Email:</label>
      <div class="login_error">
        <input
        type="email" 
        class="form-control"
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Email"
        required
        email 
      />
      <!-- Validation messages -->
      <div *ngIf="email.invalid && email.touched" class="error">
        <!-- Required validation -->
        <span *ngIf="email.errors?.['required']">Email is required</span>
        <!-- Invalid email format validation -->
        <span *ngIf="email.errors?.['email']">Invalid email format</span>
      </div>
      <div *ngIf="formErrors.email" class="error">{{ formErrors.email }}</div>
      </div>
   </div>
    

    <div class="labs">
      <label for="password">Password:</label>
      <div class="login_error">
        <input
        type="password"
        class="form-control"
        name="password"
        ngModel
        #password="ngModel"
        placeholder="Password"
        required
      />
      <div *ngIf="password.invalid && password.touched" class="error">Password is required</div>
      <div *ngIf="formErrors.password" class="error">{{ formErrors.password }}</div>
      </div>
   </div>

      <button class="btn" type="submit" [disabled]="f.invalid">Login</button>
      
  </form>
  <div class="link">
    <h3>Not a member yet?</h3>
    <a routerLink="/register">Register</a>
  </div>
</div>

  


