
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #e1d79e;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body height covers the full viewport */
    background: #e1d79e;
}

header {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Assets/headerBack.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.backHead  {
    padding-top: 12px;
    width: 70vw;
    position: absolute;
    background: none;
    transition: bottom 0.4s ease-in-out 0.4s;
    z-index: 1;
    bottom: -198px;
}

.backHead.active {
    padding-top: 12px;
    width: 70vw;
    position: absolute;
    background: none;
    transition: bottom 0.4s ease-in-out;
    z-index: 1;
    bottom: 0;
} 

.backNature {
    padding-top: 12px;
    width: 68vw;
    position: absolute;
    background: none;
    transition: bottom 0.4s ease-in-out ;
    z-index: 1;
    bottom: -198px;
}

.backNature.active {
    padding-top: 12px;
    width: 68vw;
    position: absolute;
    background: none;
    transition: bottom 0.4s ease-in-out 0.4s;
    z-index: 1;
    bottom: 0;
} 

.signature{
    width: auto;
    height: 12vw;
    max-height: 100px;
    min-height: 80px;
    background: none;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

#border{
    height: 2px;
    width: 80vw;
    margin: 10 auto;
    color: rgb(0, 0, 0);
}

.author {
    width: 350px;
    height: auto;
    margin: 40px;
    z-index: 4;
}

.author img {
    width: 350px;
    border-radius: 12px;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 15px #414040, -5px -5px 15px #414040;
}

.bio{
    width: calc(100% - 180px);
}

.menu {
    width: 90px;
    cursor: pointer;
    top: 8px;
    right: -18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    position: fixed;
    cursor: pointer;
    background: none;
    transition: transform 0.4s ease-in-out, margin-right 0.4s ease-in-out, width 0.4s ease-in-out ;
}

.bar {
    z-index: 6;
    width: 40px;
    height: 2px;
    margin: 6px auto;
    background: #000000;
    border-radius: 1000px;
    content: "";
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, width 0.4s ease-in-out;
}

.menu.active .bar:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg);
    width: calc(30px * 1.41421356237 - 3px);
    background-color: #000000;
}

.menu.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.menu.active .bar:nth-child(3) {
    transform-origin: left;
    transform: rotate(-45deg);
    width: calc(030px * 1.41421356237 - 3px);
    background-color: #000000;
}

.menu:not(.active) {
    margin-right: 8px; 
    position: fixed;
}

.menu:not(.active) .bar:nth-child(3), .menu:not(.active) .bar:nth-child(1) {
    transform-origin: left;
    transform: rotate(0deg);
    width: 40px; 
}

.menu:not(.active) .bar:nth-child(2) {
    opacity: 1; 
    width: 40px; 
}

aside {
    background:none;
    position: fixed;  
    right: -130px;
    width: 65px;
    height: 100vh;
    transition: right 0.4s ease-in-out; 
    z-index: 5;
    font-size: 1.2em;
}

aside.active {
    right: 0;
    top: 0;
    z-index: 5;
    background:none;
    position: fixed;
}

.social > img {
    width: 3vw;
    max-width: 40px;
    min-width: 30px;
    border-radius: 8px;
    transition: width 0.2s ease-in-out;
}

.social > img:hover{
    width: 45px;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    background: none;
    margin-top: 150px;
    z-index: 5;
}

.nav a {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin: 20px;
}

.borderTop {
    height: 2px;
    background-color: #000000;
    width: calc(100% - 260px);
    margin: 0 auto;
    position: relative;
}


main {
    z-index: 1;
    background: #e1d79e;
    width: calc(100% - 60px);
    position: relative;
    margin: 0 auto;
}

.navbar {
    width: calc(100vw - 260px);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    background: #e1d79e;
    z-index: 1;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40;
    width: 100%;
    background: #e1d79e; /* Ensure the navbar has a background when fixed */
}

#about, #gallery, #connect {
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
    width: auto;
    background: #e1d79e;
    z-index: 4;
}

.scroll{
    height: fit-content;
    
}

.gallery, .connect, .about {
    background: none;
    background: #e1d79e;
    margin-bottom: 40px;
}

.about {
    width: 100%;
    position: absolute;
    background: none;
    transition: left 0.4s ease-in-out;
    z-index: 10;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.about.active {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: none;
    transition: left 0.4s ease-in-out;
    z-index: 10;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e1d79e;
    margin-bottom: 40px;
}

.about {
    left: -100%;
    margin: 0 auto;
    background: #e1d79e; /* Slide the element to the left when active */
}

.gallery {
    background: #e1d79e;
    position: absolute;
    width: 100%;
    right: -100%; /* Start hidden to the right of the screen */
    transition: right 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 40px;
}

.gallery.active {
    position: absolute;
    right: 0; /* Slide the element in from the right */
    margin: 0 auto;
    background: #e1d79e;
    margin-top: 40px;
}

.galleryOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid #f5eba5;
    border-radius: 8px;
    padding: 10px;
    background: #e9e5c8;
    box-shadow: 5px 5px 15px #f5f1d7, -5px -5px 15px #f5f1d7;
    width: calc(100% - 100px);
}

.bio{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
}
.description{
    padding: 40px;
    align-items: center;
    background: none;
}

.gallerySection, .connect{
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    background: none;
}

.gallerySection h2{
    text-decoration: underline;
    background: none;
}

.gallerySection h3, p, a{
    background: none;
}

.createdImg {
    margin: 20px;
    width: 40vw;
    max-width: 280px;
    height: auto;
    border-radius: 12px;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 15px #414040, -5px -5px 15px #414040;
}

.connect {
    width: 100%;
    background: #e1d79e;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Smooth transition for sliding effect */
    z-index: 10;
    transform: translateY(-100%); /* Start off-screen at the top */
    opacity: 0; /* Hidden initially */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

/* Styles when .connect section is active */
.connect.active {
    transform: translateY(0); /* Slide down into view when active */
    opacity: 1; /* Fully visible */
}

/* .createdImg:hover {
    transform: scale(1.05);
} */

footer {
    position: fixed;
    bottom: 0;
    background: #e1d79e;
    padding-bottom: 20px;
    padding-top: 5px ;
    text-align: center;
    width: 100%;
    z-index: 4;
    margin-top: 0; /* Pushes footer to the bottom of the flex container */
}