header {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.signature{
  height: 12vw;
  min-height: 60px;
  max-height: 100px;
  width: auto;
  margin: 20px auto;
}

/* .menu {
  position: fixed;
  top: 8px;
  right: -18px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 6;
  transition: transform 0.4s ease-in-out, margin-left 0.4s ease-in-out;
}

.bar {
  width: 40px;
  height: 2px;
  margin: 6px auto;
  background: #000000;
  border-radius: 1000px;
  transition: all 0.4s ease-in-out; 
}

.menu.active .bar:nth-child(1) {
  transform-origin: left;
  transform: rotate(45deg);
  width: 40px;
}

.menu.active .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);  
  width: 40px;  
}

.menu.active .bar:nth-child(3) {
  transform-origin: left;
  transform: rotate(-45deg);
  width: 40px;
}

.menu:not(.active) {
  margin-right: 8px;
  position: fixed;
  height: fit-content;
}

.menu.active {
  margin-right: 8px;
}

.menu:not(.active) .bar:nth-child(3){
  transform-origin: left;
  transform: rotate(0deg);
  width: 40px;
  height: 2px;
}

.menu:not(.active) .bar:nth-child(1) {
  transform-origin: left;
  transform: rotate(0deg);
  width: 40px;
  height: 2px;
}

.menu:not(.active) .bar:nth-child(2) {
  opacity: 1;  
  transform: translateX(0); 
  width: 40px;
  height: 2px;
}

aside {
  position: fixed;  
  right: -130px;
  width: 40px;
  text-align: center;
  height: 100vh;
  transition: right 0.4s ease-in-out; 
  z-index: 5;
  font-size: 1.2em;
}

aside.active {
  right: 20px;
  top: 0;
  z-index: 5;
  background: none;
} */

/* .nav_social {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 110px;
}

.social img {
  width: 35px;
  border-radius: 8px;
  transition: width 0.4s ease-in-out;
  margin: 20px auto;
}

.social img:hover{
  width: 40px;
} */

/* @media screen and (max-width: 768px) {
  .social img {
    width: 25px;
    border-radius: 8px;
    transition: width 0.4s ease-in-out;
    margin: 20px auto;
  }
  
  .social img:hover{
    width: 30px;
  }

  aside.active {
    right: 10px;
    text-align: center;
  }

  .nav_social {
    margin-top: 90px;
  }

  .menu {
    position: fixed;
    top: 8px;
    right: -18px;
    width: 70px;
  }
  
  .bar {
    margin: 4.5px auto;
  }
  
  .menu.active .bar:nth-child(1) {
    width: 31px;
  }
  
  .menu.active .bar:nth-child(2) {
    width: 30px;  
  }
  
  .menu.active .bar:nth-child(3) {
    width: 31px;
  }
  
  .menu:not(.active) {
    margin-right: 10px;
  }
  
  .menu.active {
    margin-right: 10px;
  }
  
  .menu:not(.active) .bar:nth-child(3){
    width: 30px;
  }
  
  .menu:not(.active) .bar:nth-child(1) {
    width: 30px;
  }
  
  .menu:not(.active) .bar:nth-child(2) {
    width: 30px;
  }
} */

