<header>
  <img class="signature" src="./logos/enoBW.png" alt="">
  <!-- <div class="menu" (click)="toggleMenu()" [class.active]="menuActive">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <aside [class.active]="menuActive">
    <div class="nav_social" >
      <a class="social" href="https://instagram.com" target="_blank">
        <img src="./logos/instagram.png" alt="">
      </a>
      <a class="social" href="https://facebook.com" target="_blank">
        <img src="./logos/facebook.png" alt="">
      </a>
      <a class="social" href="mailto:Max.Gabriel@triosstudent.com" target="_blank">
        <img src="./logos/message.png" alt="">
      </a>
    </div>
  </aside> -->
</header>
