<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~Max.Gabriel/frame/
    
    # If an existing asset or directory is requested, serve it
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]

    # Redirect all other requests to index.html
    RewriteRule ^ index.html [L]
</IfModule>

# Security headers
Header always set Content-Security-Policy "upgrade-insecure-requests"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"