.card {
    margin: 0.5rem ;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1) , 0 -2px 4px ; */
    max-width: 250px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    border-radius: 0;
    background: none;
  }
  
  .img{
    max-width: 90%;
    height: auto;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .thumbnail {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    border: 10px solid hsla(0, 0%, 0%, 0.836);
    padding: 10px;
    background: white;
  }

  .thumbnail:hover {
    transform: scale(1.05);
  }

  button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #c7c8ae;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e9ecef;
  }

  #pictureID{
    display: none;
   }

   @media screen and (max-width: 768px) {
    .card{
      max-width: 30vw;
      padding: 0;
      margin: 5px;
    }
    .card img{
      max-width: 100%;
      height: auto;
      border: none;
      cursor: pointer;
      margin-top: 5px;
    }
    button{
      font-size:0.6rem
    }
   }