<div class="card">
  <div id="pictureID">
    Picture ID: {{ item.pictureID }}
  </div>
  <div class="p-2">
    <img 
      [src]="getImageSrc()" 
      alt="Image"
      class="thumbnail"
      (click)="onImageClick()">
  </div>
  <div class="price">
    <strong>{{ item.price | currency }}</strong>
  </div>
  <!-- admin section-->
  <div *ngIf="isAdmin">
    <input type="number" 
           step="0.10" 
           [(ngModel)]="item.price">
    <div class="d-flex flex-row">
      <button (click)="onPriceSubmit()">Submit</button>
      <button (click)="onDelete()">Delete</button>
    </div>
  </div>
  <div *ngIf="!isAdmin">
    <div>
      <button (click)="onAddtoCart()">Add to cart</button>
    </div>
  </div>
</div>