
<footer>
  <div class="border border-black"></div>
  <p>&copy; All Rights Reserved. This WebApp has been created by Max Gabriel as a college project.</p>
  <div class="nav_social" >
    <a class="social" href="https://instagram.com" target="_blank">
      <img src="./logos/instagram.png" alt="">
    </a>
    <a class="social" href="https://facebook.com" target="_blank">
      <img src="./logos/facebook.png" alt="">
    </a>
    <a class="social" href="mailto:Max.Gabriel@triosstudent.com" target="_blank">
      <img src="./logos/message.png" alt="">
    </a>
  </div>
  <p>Used Angular and PHP/MySql</p>
</footer>
